# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# Environment files
.env
.venv/
env/
venv/
.DS_Store

# Audio / Data / Large Files
*.wav
*.mp3
*.npy
*.pkl
*.pt
*.zip
*.tar.gz
*.h5
data/
outputs/
logs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# OS-specific
Thumbs.db
.DS_Store

